@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f2;
  font-family: "Lexend Deca", sans-serif;
}

.container {
  max-width: 64%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: hsl(179, 100%, 13%);
  border-radius: 10px;
  margin-top: 1.5rem;
}

.card {
  width: 100%;
  padding: 3rem;
  height: 32em;
}
.card-1 {
  background: hsl(31, 77%, 52%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.card-1 button {
  color: hsl(31, 77%, 52%);
}

.card-2 {
  background: hsl(184, 100%, 22%);
}
.card-1 button {
  color: hsl(184, 100%, 22%);
}

.card-3 {
  background: hsl(179, 100%, 13%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card-3 button {
  color: hsl(179, 100%, 13%);
}

.card img {
  margin-bottom: 2rem;
}

.title {
  color: #f3f3f2;
  font-size: 2.5rem;
  font-family: "Big Shoulders Display", sans-serif;
  margin-bottom: 1.5rem;
}

.disc {
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 25px;
  font-size: 15px;
}

.btn {
  font-size: 16px;
  font-weight: 600;
  padding: 1rem 2rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 5.3rem;
  transition: all 0.4s ease-in-out;
}
.btn:hover {
  background: transparent;
  color: white;
  transform: scale(1.1);
  border: 0.5px solid white;
}
@media screen and (width<=1000px) {
  .container {
    max-width: 95%;
  }
  .btn {
    padding: 1rem 1.5rem;
  }
  @media screen and (width<=770px) {
    body {
      height: auto;
      margin: 3rem 0;
    }
    .container {
      width: 90%;
      display: flex;
      flex-direction: column;
    }
    .card {
      height: 28em;
    }

    .btn {
      margin-top: 2rem;
    }
    .card-1 {
      border-radius: 0;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    .card-3 {
      border-radius: 0;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }
}
